<div class="container">
    <h1>User Data</h1>
    <table class="table">
      <tr>
         <th>Name</th>
             <td>{{ userData.name }}</td>
      </tr>
      <tr>
       <th>Lastname</th>
         <td>{{ userData.lastname }}</td>
          </tr>
      <tr>
     <th>Date of Birth</th>
     <td>{{ userData.dateOfBirth }}</td>
     </tr>
     <tr>
     <th>City</th>
    <td>{{ userData.city }}</td>
    </tr>
    <tr>
    <th>State</th>
     <td>{{ userData.state }}</td>
    </tr>
    </table>
     </div>
