<div class="p-3 mb-2 bg-dark text-white">
<h1  class="text-success">Angular all tasks</h1>
<ol >
    <li><a routerLink="/onewaydatabinding" >onewaydatabinding</a></li>
    <li><a routerLink="/weather">WeatherTask</a></li>
    <li><a routerLink="/registration" routerLinkActive="active">Registationform using Reactive forms</a></li>
    <li><a routerLink="/student">querty paramets</a></li>
    <li><a routerLink="/student">popup1</a></li>
    <li><a routerLink="/userinput">popup2</a></li>
    <li><a routerLink="/sample">countgendertask</a></li>
    <li><a routerLink="/parent">Transfore date by using parent child </a></li>
    <li><a routerLink="/freeapi">Free api task1 </a></li>
    <li><a routerLink="/imageapi">get api</a></li>
    <li><a routerLink="/post">post api</a></li>
    <li><a routerLink="/get">get key value task</a></li>
    <li><a routerLink="/observbles">observbles task</a></li>

</ol>
</div>
